.showmore__link{
    color: #212529;
    text-align: center;
    padding-top: 5px;
}
.rbc-time-view .rbc-label {
    display: none;
}
.rbc-time-view .rbc-allday-cell {
    height: calc(100vh - 98px);
    max-height: unset;
}
.rbc-time-view .rbc-time-content {
    display: none;
}